@import "helper/variables";

%hover {
    color: $darkbrown;
    border-bottom: 1px solid;
}
%bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
