// Colors
$black: #000;
$white: #fff;
$lightbrown: #9E8145;
$lightbrown_transparent: rgba($lightbrown, 0.5);
$darkbrown: #927238;

// Fonts
$font-1: 'Abhaya Libre', sans-serif;
$font-2: 'Playfair Display', sans-serif;
