<header class="site-header site-wrapper">
    <div class="frow justify-between">
        <div class="logo-section">
            <div class="site-logo">
                <img src="/assets/img/taylors-logo.png" />
            </div>
            <div class="site-menu">
                <ul>
                    {% for item in site.data.menu %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="call_section">
            <div class="frow centered">
                <div class="call_now">
                    Call Today!
                    <a class="call_btn" href="tel:8046431600">
                        <span class="call_icon"><img src="/assets/img/icon_phone2.png" width="11" /></span>804-643-1600
                    </a>
                </div>
            </div>
        </div>
        <section class="mobile_menu">
            <div id="menu-container" class="menu-btn"><button id="overlay-menu" type="button" class="menuButton">&equiv;</button></div>
            <div class="overlay overlay-data noScroll">
                <div class="site-header site-wrapper">
                    <div class="frow justify-end">
                        <button type="button" class="overlay-close">Close</button>
                    </div>
                </div>
                <div class="frow centered" style="margin-top:-82px;">
                    <nav>
                        <ul>
                            {% for item in site.data.menu %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </section>
    </div>
</header>
