<header class="site-header site-wrapper">
    <div class="frow justify-between">
        <div class="logo-section">
            <div class="site-logo">
                <img src="/assets/img/taylors-logo.png" />
            </div>
            <div class="site-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="barbers.html">Barbers</a></li>
                    <li><a href="lookbook.html">Lookbook</a></li>
                    <li><a href="taylors-story.html">Taylor's Story</a></li>
                    <li><a href="careers.html">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="call_section">
            <div class="frow centered">
                <div class="call_now">
                    Call Today!
                    <a class="call_btn" href="tel:8046431600">
                        <span class="call_icon"><img src="/assets/img/icon_phone2.png" width="11" /></span>804-643-1600
                    </a>
                </div>
            </div>
        </div>
        <section class="mobile_menu">
            <div id="menu-container" class="menu-btn"><button id="overlay-menu" type="button" class="menuButton">&equiv;</button></div>
            <div class="overlay overlay-data noScroll">
                <div class="site-header site-wrapper">
                    <div class="frow justify-end">
                        <button type="button" class="overlay-close">Close</button>
                    </div>
                </div>
                <div class="frow flex-centered">
                    <nav>
                        <ul>
                            <li><a href="/work">work</a></li>
                            <li><a href="/about">about</a></li>
                            <li><a href="/our-team">our team</a></li>
                            <li><a href="http://www.greenmountwestcc.org" target="_blank">greenmount west</a></li>
                            <li><a href="mailto:info@noisytenants.com">contact</a></li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </section>
    </div>
</header>
