<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="Montier Kess" />
  <meta name="portfolio" content="http://theivyproject.com" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta charset="utf-8" />

  <!-- Meta OG Tags -->
  <meta name="og:title" content="Taylor's Barbershop">
  <meta name="og:title" content="A barbershop experience for men, women and kids">
  <meta property="og:url" content="http://www.taylorsbarbershop.com" />
  <meta property="og:image" content="img/og-img.png" />

  <link rel="shortcut icon" href="/crwn.png" type="image/png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,700|Playfair+Display:900" rel="stylesheet">

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/vendor/frow.css" />
  <link rel="stylesheet" type="text/css" href="/css/vendor/luminous-basic.css" />

  <!-- Slick Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>

</head>
