@import 'helper/mixins';
@import 'helper/media_queries';
@import 'helper/variables';

*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    // font-family: $font-brand3;
    // font-size: $base-font-size;
    // line-height: $base-line-height;
    font-weight: 300;
    color: #000 !important;
    // background-color: $brand-color3;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 15px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Clearfix
 */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
