.docs_title {
    font-size: 45px;
    font-weight: bold;
    border-bottom: 1px solid;
    width: 90px;
}
.docs_subtitle {
    padding-top: 30px;
    font-size: 24px;
}
.docs_masthead {
    background: #bbb;
    padding: 75px 0;
    margin-bottom: 75px;
}
