.hero-bg-fixed {
	position: fixed;
	top:80px;
	right:0;
	left:0;
	margin:auto;
	height:calc(100vh - 175px);
}
.hero-bg {
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 175px) !important;
}
.hero-content {
	color: $white;
	text-align: center;
	width: 90%;

	@include palm {
		width: 60%;
	}
	@include widescreen {
		max-width: 650px;
	}
}
.hero-logo img {
	width: 9em;
}
.hero-logo-title {
	font-size: 38px;
	font-family: $font-2;
	text-transform: uppercase;
	line-height: 1;
	padding: 40px 0;
	text-shadow: 2px 3px rgba(0,0,0,0.4);

	@include palm {
		font-size: 48px;
	}
	@include desktop {
		font-size:65px;
	}
}
.icon img {
	width: 5em;
}

.copy {
	font-size: 24px;
	text-align: center;
	-webkit-font-smoothing: antialiased;

	@include palm {
		font-size: 30px;
	}
	@include desktop {
		font-size: 38px;
	}
}
