// Home
.hero-bg-fixed {
	display: none;
	position: absolute;
	top:80px;
	right:0;
	left:0;
	margin:auto;
	height:calc(100vh - 75px);

	@include palm {
		height: calc(100vh - 150px);
	}

	@include laptop {
		height: calc(100vh - 240px);
	}
}
.hero-bg {
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 75px) !important;
	filter: grayscale(125%) contrast(120%);

	@include palm {
		height: calc(100vh - 150px) !important;
	}

	@include laptop {
		height: calc(100vh - 240px) !important;
	}
}
.hero-content {
	color: $white;
	text-align: center;
	width: 90%;

	@include palm {
		width: 60%;
	}
	@include widescreen {
		max-width: 1050px;
	}
}
.hero-logo img {
	width: 5em;

	@include small {
		width: 7em;
	}

	@include tablet {
		width: 9em;
	}
}
.hero-logo-title {
	font-size: 28px;
	font-weight: 700;
	font-family: $font-2;
	text-transform: uppercase;
	line-height: 1;
	padding: 30px 0;
	text-shadow: 2px 3px rgba(0,0,0,0.4);

	@include small {
		font-size: 40px;
	}
	@include palm {
		font-size: 48px;
		padding: 40px 0;
	}
	@include desktop {
		font-size:70px;
	}
}
.icon img {
	width: 5em;
}
.copy {
	font-size: 20px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@include small {
		font-size: 24px;
	}
	@include palm {
		font-size: 28px;
	}
	@include desktop {
		padding-bottom: 15px;
	}
}
.copy-contained {
	@include desktop {
		max-width: 600px;
		margin: auto;
	}
}
.mobile_menu_position {
	margin-top: -25px;
}
