/* ====================
LOOKBOOK
======================= */
.video_img,
.gallery_img,
.lookbook_video iframe {
	width: 100%;
	padding-bottom: 30px;
}
.luminous_lightbox {
	width: 90%;
	margin: 0 auto;
	list-style: none;
}

/* ====================
FAQs
======================= */
.faqs-list {
	list-style: none;
	width: 80%;
	margin: 3em auto;
}
.faqs-list li {
	padding-bottom: 3em;
	font-size: 18px;
	line-height: 1.5;
}
.faqs-list li span {
	font-size: 18px;
	font-weight: bolder;
	display: block;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.icon {
	text-align: center;
}


/* ====================
LOCATIONS
======================= */
.value-title.locations {
	padding-bottom: 0px;
}
.section-header.locations {
	padding: 0 20px;
}
.locations-copy {
	padding: 30px 15px;
}
.locations-img {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.locations-img img {
	width: 100%;
	margin-bottom: 30px;
}
.locations_title {
	text-transform: uppercase;
	font-family: 'Playfair Display', sans-serif;
	font-size: 1.1em;
	padding-bottom: 15px;
}
.locations_listing {
	letter-spacing: 1px;
	font-weight: 400;
	padding-bottom: 30px;
	list-style: none;
}
.locations_link a {
	color: #9E8145;
	font-weight: bolder;
	text-decoration: none;
}
.locations_name {
	position: absolute;
	bottom: 2.5em;
	text-transform: uppercase;
	left: 10px;
}
.col-4.locations {
	text-align: center;
}



/* ====================
SERVICES
======================= */
.barber-bg {
	background: url('../img/barber-bg.png');
}
.salon-bg {
	background: url('../img/salon-bg.png');
	background-position: 78% 1% !important;
}
.services-bg {
	background-size: cover;
	background-position: center center;
}
.copy.services {
	padding: 0 25px 30px;
}
.fullpage-breadcrumb {
	font-size: 10px;
	font-family: 'Abhaya Libre', sans-serif;
}
.fullpage-header {
	background: url(../img/fullpage-header.jpg);
	height: 5vh;
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	filter: contrast(110%);
}
.section-header.services {
	padding: 0.2em 0;
}
.section-header-group.services {
	margin: 35px 0;
}
.section-header-parent {
	padding: 1.2em 0;
}
.section-header-sub.services {
	color: #9E8145;
	display: none;
}
.section-header-title {
	padding: 1em 0 3.5em;
}
.services-header {
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding: 15px 25px;
}
.services-list {
	list-style: none;
	margin-left: 40px;
}
.services-list li {
	list-style-image: url('../img/services-list-icon.png');
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 14px;
	vertical-align: middle;
}
.services-list-icon {
	width: 2em;
	padding-right: 1.5em;
}
.services-list-subtitle {
	display: block;
	font-size: 12px;
	font-weight: 400;
}
.services-list-wrapper {
	padding: 10px 30px;
}
.lookbook-bg {
	background-position: center center;
	height: 35vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.lookbook1 {
	background-image: url(../img/lookbook1.png);
}
.lookbook2 {
	background-image: url('../img/lookbook2.png');
}
.services-group {
	width: 85%;
	margin: 0 auto;
}
.services-group#salon-services {
	margin-top: 5em;
}
.services-group {
	width: 80%;
	margin: 0 auto;
}


/* ====================
VALUES
======================= */
.backtop-icon {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  padding: 0.3em 0.5em;
  background: white;
  position: fixed;
  bottom: 2.5em;
  right: 1em;
  z-index: 200;
  border-radius: 34px;
  margin-right: 0.3em;
 /* display: none;*/
 }
 .backtop-icon a {
 	color: #000;
 }
 .backtop-icon a:hover, .backtop-icon:hover a {
  color: white;
 }
 .backtop-icon:hover {
  background: black;
 }

.section-header-group {
	text-align: center;
	padding: 125px 0 75px;
}
.section-header-sub {
	text-transform: uppercase;
	/*font-family: 'Playfair Display', sans-serif;*/
	font-family: 'Abhaya Libre', sans-serif;
	font-size: 18px;
	letter-spacing: 3px;
	-webkit-font-smoothing: antialiased;
}
.value-bg {
	background-image: url('../img/value-bg.png');
	background-size: cover;
	background-position: center center;
	padding: 50px 0 0;
	/*background-attachment: fixed;*/
}
.value-group {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.value-icon {
	height: 110px;
	display: block;
	margin: 0 auto 25px;
}
.value-text {
	padding-bottom: 100px;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
}
.value-title {
	text-transform: uppercase;
	font-family: 'Playfair Display', sans-serif;
	padding-bottom: 1em;
	color: #9E8145;
	letter-spacing: 1px;
	font-size: 18px;
}

/* ====================
- 550PX
======================= */
@media screen and (min-width: 550px) {

	/* HERO */

	/* VALUES */
	.value-group {
		width: 50%;
	}
	/* SERVICES */
	.section-header-group.contain-width {
		width: 71%;
		margin: 0 auto;
	}
	.services-group {
		width: 50%;
	}
	/* LOOKBOOK */
	.lookbook-bg {
		height: 45vh;
	}
	.lookbook_video {
		width: 80%;
		margin: 0 auto;
	}
	/* FAQs */
	.faqs-list li {
		float: left;
		width: 45%;
		margin-right: 20px;
		padding: 5px;
		margin-bottom: 20px;
	}
	.value-wrapper {
		width: 73%;
		margin: 0 auto;
		max-width: 420px;
	}

}


/* ====================
- 750PX
======================= */
@media screen and (min-width: 750px) {

	/* REUSABLE CLASSES */
	.wrapper {
		width: 70%;
	}



	/* SERVICES */
	.services-group {
		float: left;
	}
	.services-group#barber-services {
		margin-top: 5em;
		width: 47%;
	}
	.services-group#salon-services {
		margin-top: 10em;
		margin-left: 15px;
		width: 47%;
	}
	.services-header {
		padding: 35px 25px;
	}
	.another-wrapper {
		width: 75%;
		margin: 0 auto;
	}


	/* LOCATIONS */
	.location-content_wrapper {
		width: 29%;
		float: left;
		margin-right: 4%;
	}
	.location-content_img-wrapper {
		width: 65%;
		float: left;
	}
	.locations-img {
		width: 31%;
		float: left;
		margin-right: 5px;
	}
	.locations-img:nth-child(2) {
		margin-top: 2em;
	}
	.locations-img:nth-child(3) {
		margin-top: 4em;
	}
	.locations-copy {
		padding: 30px 40px;
	}
	.locations_name {
		bottom: 1.7em;
	}

	/* LOOKBOOK */
	.col-4.lookbook {
		width: 31%;
		margin-right: 3%;
	}
	.col-4.lookbook:last-child {
		margin-right: 0;
	}
	.luminous_lightbox {
		width: 100%;
	}
	.luminous_lightbox li {
		width: 32%;
		float: left;
		margin-right: 1.2%;
	}
	.luminous_lightbox li:last-child {
		margin-right: 0;
	}
	.gallery_img {
		padding-bottom: 15px;
	}

	/* VALUES */
	.col-4 {
		width: 33.2%;
		float: left;
	}
	.value-col {
		padding: 20px 10px 0;
		width: 29% !important;
	}
	.value-group {
		width: 100%;
	}
	.value-text {
		/*padding: 0 60px 100px;*/
		font-size: 20px;
	}


	/* LOOKBOOK */
	.col-3 {
		width: 25%;
		float: left;
		height: 30vh;
	}

	/* FAQs */
	.faqs-list {
		width: 700px;
	}
}


/* ====================
- 900PX
======================= */
@media screen and (min-width: 900px) {

	/* REUSABLE CLASSES */
	.wrapper {
		width: 500px;
	}

	/* HEADER */
	/*.left-menu {
		margin-left: 50px;
	}*/

	/* HEADER */


	/* HERO */
	.hero-content {
		width: 40%;
	}

	/* VALUES */
	.section-header-group {
		padding: 35px 0 60px;
	}
	.value-group {
		width: 850px;
	}

	/* SERVICES */
	.another-wrapper {
		width: 55%;
		margin: 0 auto;
	}

	/* LOCATIONS */
	.row {
		width: 850px;
		margin: 0 auto;
	}
}

/* ====================
- 1350PX
======================= */
@media screen and (min-width: 1350px) {
	.location-width {
		max-width: 1350px;
		margin: 0 auto;
	}
}
