.logo-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    padding-left: 15px;
    text-transform: uppercase;
    width: 140px;
}
.copyright-footer {
    font-size: 12px;
    margin-top: 10px;
}


.footer-logo-section {
    display: none;

    @include laptop {
        display: block;
    }
}
.footer-location {
    width: 100%;
    text-align: center;

    @include laptop {
        width: auto;
        text-align: right;
    }

    .location-header {
        font-weight: bold;
    }
    .location-address {
        font-size: 14px;
    }
    .social {
        padding: 10px 0 0;

        li {
            display: inline-block;
        	padding-right: 10px;

            &:last-child {
                padding-right: 0;
            }
        }
        .social-icon {
            padding-left: 10px;
        }  
    }

}
.site-footer {
	padding: 10px 0;
}
